div This is a family Component that will hold all immediate family data for the user.
    div Load Mother
    div Load Father
    div 
        member([name]="name")
    div Load Spouse
    div Load Children
    div load Siblings
    div load Friends
    div load Colleagues