div(id="family{{id}}")
    div(id="top{{id}}",class="top")
        div(class="transform-top") Parents
    div(id="left{{id}}",class="left")
        div(class="transform-left") Siblings
    div(id="center{{id}}",class="center")
    diV(id="right{{id}}",class="right")
        div(class="transform-right") Friends
    div(id="bottom{{id}}",class="bottom")
        div(class="transform-bottom") Children