div(id="family{{id}}")
    div(id="containerDiv{{id}}")
        svg(xmlns="http://www.w3.org/2000/svg",width="100%",height="900px",id="svg{{id}}",xmlns:xlink="http://www.w3.org/1999/xlink")
    div(id="top{{id}}",class="top")
        div(class="transform-top") Parents
    div(id="left{{id}}",class="left")
        div(class="transform-left") Siblings
    div(id="center{{id}}",class="center")
    diV(id="right{{id}}",class="right")
        div(class="transform-right") Friends
    div(id="bottom{{id}}",class="bottom")
        div(class="transform-bottom") Children