div(id="invite")
    div
        label Name
        input(class="form-control",type="text",id="{{username}}")
        label Email
        input(class="form-control",type="email",id="{{email}}")
        div(class="row")
        button(class="btn btn-default") Submit
