div(id="invite",class="modal")
    div(class="form-group")
        label Name
        input(type="text",id="{{username}}")
        label Email
        input(type="email",id="{{email}}")
        div(class="row")
        button(class="btn btn-default") Submit
