div(class="row")
    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
        label Username
        input(type="text")
div(class="row")
    div(class="col-xs-12 col-sm-12 col-md-12 col-lg-12")
        label Password
        input(type="password")
