[type="member"], [type="member"] img{
    width: 100px;
    height:100px;
    position: relative;
}

.connector{
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    color: green;
}

.connector-left{
    top:45%;
    left:-5px;
}


.connector-right{
    top:45%;
    right:-5px;
}

 .connector-top{
     top:-5px;
     left: 45%;
 }

 .connector-bottom{
     bottom: -5px;
     left: 45%;
 }

 .memberHover{
     transform: scale(2);
 }