[type="text"]{
    border-radius: 20%;
    border-color: silver;
}

.box-small{
    width: 300px;
    height: 300px;
    background-color: silver;
    border:1px solid thistle; 
    margin: 2px;
    padding: 4px;
}

.box-small div{
    margin: 4px;
}

.center-box{
    top:50%;
    left:50%;
    position: absolute;
}

.header{
    left: -10px;
    width: 100%;
    height: 30px;
    background-color: #0077dd;
    color:white;
    display: inline-flex;
    flex-flow: row;
}

#overlay{
    background-color:grey;
    opacity: 0.5;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    position: absolute;
}

#modal{
    background-color: transparent;
    /*opacity: 0.7;*/
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    align-content: center;
}

#invite{
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border:1px solid grey;
    top:50%;
    opacity: 10;
}

.hide{
    visibility: hidden;
}

.show{
    visibility: visible;
}
[type="member"] {
    width: 100px;
    height:100px;
    border :1px solid silver;
    position: relative;
    margin:30px;
    float: left;
    visibility: visible;
}

[type="member"]:hover {
    border :1px inset blue;
    cursor: pointer;
    z-index: 9999;
}

[type="member"] img {
    top:0;
    left: 0;
    width: 100px;
    height:100px;
    border-radius: 50%;
    position: absolute;
    transition-timing-function: ease-in();
    opacity:10;
}

.center{
    width: 50%;
    top:25%;
    position: absolute;
    margin: 0 auto 0 auto;
    border:1px solid red;
    left: 25%;
     visibility: collapse; 
}

.top{
    top:0;
    width: 50%;
    height: 25%;
    left:25%;
    position: absolute;
    margin: 0 auto 0 auto;
    border:1px solid red;
     visibility: collapse; 
}

.left{
    top:25%;
    width: 25%;
    position: absolute;
    background-color: transparent;
    border:1px solid red;
     visibility: collapse; 
}

.right{
    top:25%;
    left:75%;
    width: 25%;
    position: absolute;
    background-color: transparent;
    border:1px solid red;
     visibility: collapse; 
}

.bottom{
    width: 50%;
    position:absolute;
    left: 25%;
    background-color: transparent;
    border:1px solid red;
     visibility: collapse; 
}
/* 
.top{
    top: 0;
    width:50%;
    height: 25%;
    left:25%;
    right: 25%;
    position: absolute;
    display:inline-flex;
    flex-flow: row; 
    flex-grow: inherit;
    -ms-flex-flow: row;
    text-align: center; 
    vertical-align: middle; 
    margin: auto 1.5em;
}

.center{
    width:50%;
    height:50%; 
    left:25%;
    top:25%;
    bottom: 25%;
    left: 25%;
    position: absolute; 
     display:inline-flex;
    flex-flow: row;  
    margin: auto 1.5em;
}

.left{
    width:25%;
    height: 100%;
    left: 0; 
    position: absolute;
    flex-flow: column; 
 }

.right{
    top:0;
    width: 25%; 
    height: 100%; 
    right: 0;
    display: block;
    flex-direction: column;
    position: absolute;  
    margin: auto 0 auto 0;
    padding: 20px;
    float: left;
}

.bottom{
    left:25%;
    width: 50%;
    height: 25%;
    right: 25%;
    bottom: 0;
    display: inline-flex;
    flex-flow: row;
    position: absolute; 
    margin: auto 1.5em;
} */

.home{
    position: relative;
    width: 100%;
    height:80vh;
}

.transform-top{
    position: absolute;
    bottom: 0;
    left :50%;
    color: silver; 
}


.transform-bottom{
    position: absolute;
    top: 0;
    left :50%;
    color:red; 
}

.transform-left{
    position: absolute;
    right: 0;
    top :50%;
    transform: rotate(90deg);
    color: magenta

}

.transform-right{
    position: absolute;
    left: 10px;
    top :50%;
    transform: rotate(-90deg);
    color: blue;
}