label{
    font-weight: bold;
    font-family: sans-serif
}

input[type=text]{
    display: block;
    margin:4px;
    padding: 3px;
}

#self {
    border: 1px solid blue;
    border-radius: 20px;
    width: 50px;
}

.hex {
    float: left;
    margin-left: 3px;
    margin-bottom: -26px;
}
.hex .top {
    width: 0;
    border-bottom: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}
.hex .middle {
    width: 104px;
    height: 60px;
    background: #6C6;
    text-align: center;
    vertical-align: middle;
}

.hex .bottom {
    width: 0;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

/*.hex-row {
    clear: left;
    margin-top: 10px;
}

.hex-row.even {
    margin-top: 10px;
    margin-left: 53px;
}*/

.header{
    position: fixed;
    height: 30px;
    top:0;
    left: 0;
    right: 0;
    background-color: darkgreen;
}

.family-container{
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    background-color: silver;
}

member:hover{
    cursor: pointer;
}

.mainFamily{
    background-color: silver;
    height: 100%;
    width: 100%;
    overflow: visible;
    display: inline-block;
}

.header{
    top:0;
    width: 100%;
    height: 40px;
    position: fixed;
    background-color: green;
    overflow: hidden;
}

.main{
    margin-top: 40px;
}
